<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arms</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <!-- nav bar -->
    <div class="nav">
        <img src="./assets/images/game_flex.png" alt="Game Flex Logo">
        <a href="/">Home</a>
        <a href="workouts">Workouts</a>
        <a href="nutrition">Nutrition</a>
        <form action="/logout" method="post">
            <button type="submit" id="logout-btn" class="btn btn-moving-gradient btn-moving-gradient--blue">Logout</button>
    </div>


    <div class="main">
        <h1 class="workout-header">Arms</h1>

        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Chest Opens</div>
            <div class="workout-button"><img src="./assets/images/n64_b.png"></div>
            <div class="reps">4 sets of 15</div>
            <div class="workout-images">
                <img src="./assets/images/link_chest.png">
                <img src="./assets/images/bb_curl.png">
            </div>
            <div class="workout-description">
                <ul>
                <li>Stand with your feet shoulder-width apart, solid like a Hylian warrior ready for battle. Position yourself directly in front of the chest, ensuring you're balanced and stable. This stance is the foundation of your heroic feat.</li>
                <li>Place your hands on the edge of the chest's lid, your palms facing upward. Your hands should be shoulder-width apart, ready to harness the power within.</li>
                <li>As you exhale, begin to lift the lid by bending your elbows, keeping them close to your torso.</li>
                <li>As the lid reaches the peak of its arc, hold it there for a moment. Feel the rush of triumph and the surge of heroic energy. This is your moment of glory, akin to holding the Master Sword aloft.</li>
                <li>With the treasure now revealed, slowly lower the lid back to its original position, maintaining control and poise.</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"SEIYYIIIIIAI!”</p>
               
                <p id="quote">(Link - Legend of Zelda)</p>
            </div>
        </div>
        </div>

          <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Wire Chokes</div>
            <div class="workout-button"><img src="./assets/images/psTri_button.png">[HOLD]</div>
            <div class="reps">3 Sets of 10</div>
            <div class="workout-images">
                <img src="./assets/images/hitman_choke.png">
                <img src="./assets/images/hammer_curl.png">
            </div>
            <div class="workout-description">
                <ul>
                <li>Identify a secure location, ideally a gym with minimal foot traffic. This will be your operational ground for the exercise.</li>
                <li>Locate target and equip fiber wire. Grip the handles firmly, ensuring they are secure.</li>
                <li>Discreetly engage biceps and strangle target (video game character), maintaining a firm grip on the wire.</li>
                <li>At the apex of the curl, contract your biceps tightly, akin to the final moment of a wire choke. Hold this position briefly to maximize muscle engagement.</li>
                <li>Slowly lower the fiber wire back to the starting position.</li>
                    <span id = "red">--important note: DO NOT ATTEMPT THIS IN REAL LIFE</span>
                     </li>
                </ul>
            </div>
            <div class="workout-comment">
            <p>"We dertemine who we are by what we do"</p>
         
            <p id="quote">(Agent 47 - Hitman)</p>        
        </div> 
        </div>
        </div>

        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Barrel Throws</div>
            <div class="workout-button"><img src="./assets/images/n64_b.png"></div>
            <div class="reps">3 Sets of 12</div>
            <div class="workout-images">
                <img src="./assets/images/dk.png">
                <img src="./assets/images/ote.png">
            </div>
            <div class="workout-description">
                <ul>
                    <li>Grip your "barrel" (dumbbell, kettlebell, or any weighted object) firmly with both hands.</li>
                    <li>Lift the barrel high above your head until your powerful arms are fully extended. Your palms should be facing up, holding the bottom of the barrel, and your elbows should be pointing forward</li>
                    <li>Slowly lower the barrel behind your head by bending at the elbows. Keep those elbows close to your ears, like you’re getting ready for the ultimate wind-up.</li>
                    <li>Lower the barrel until it’s almost touching your back, or until you feel a strong stretch in your triceps. Picture Mario down below, clueless about what’s coming.</li>
                    <li>With all your gorilla strength, extend your arms back to the starting position, straightening them overhead. Imagine launching that barrel straight at Mario, sending him tumbling.</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"I did this using one life! And I took less than an hour!"</p>
                <p>:</p>
                <p id="quote">(Cranky Kong - Donkey Kong Country)</p>
            </div>
        </div>
        </div>

        
        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Dragonblade</div>
            <div class="workout-button"><img src="./assets/images/q_key.png"></div>
            <div class="reps">3 Sets of 10 (per arm)</div>
            <div class="workout-images">
                <img src="./assets/images/genji.png">
                <img src="./assets/images/oatx.png">
            </div>
            <div class="workout-description">
                <ul>
                   <li>Charge your ultimate ability with shuriken throws and deflects</li>
                   <li>Reach behind and grab your ōdachi</li>
                   <li>Wait until you feel a stretch in your triceps (or when 2 or 3 enemy players are within sight)</li>
                   <li>Release the dragon, and extend your arm to release your blade</li>
                   <li>Repeat until mission is complete</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"The dragon becomes me"</p>
                <p id="quote">(Genji - Overwatch)</p>
            </div>
        </div>
        </div>




        <!-- <div class="workout-card">
            <div class="workout-title"></div>
            <div class="workout-button"></div>
            <div class="reps"></div>
            <div class="workout-images">
                <img src="">
                <img src="">
            </div>
            <div class="workout-description">
                <ul>
                <li></li>
                </ul>
            </div>
            <div class="workout-comment"><span id="quote"></span></p></div>
        </div> -->
    </div>
</body>
</html>