<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
   
    <div class="nav">
        <img src="./assets/images/game_flex.png" alt="Game Flex Logo">
        <a href="/">Home</a>
        <a href="workouts">Workouts</a>
        <a href="nutrition">Nutrition</a>
        <form action="/logout" method="post">
            <button type="submit" id="logout-btn" class="btn btn-moving-gradient btn-moving-gradient--blue">Logout</button>
    </div>

    <div class="main">
        <h1 class="workout-header">Back</h1>
        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Uncharted climbs</div>
            <div class="workout-button"><img src="./assets/images/psX_button.png"></div>
            <div class="reps">3 warmup sets of 10</div>
            <div class="workout-images">
                <img src="assets/images/drake.png">
                <img src="./assets/images/pull_up.png">
            </div>
            <div class="workout-description">
                <ul>
               <li>Begin by surveying your surroundings for a sturdy bar or ledge. This could be a pull-up bar, a tree branch, or a ledge in an abandoned temple.</li>
               <li>Stand under the bar, looking up as if you're about to leap across a chasm.</li>
               <li>Jump up and grab the bar with both hands, gripping it with an overhand grip (palms facing away from you), shoulder-width apart.</li>
               <li>Engage your back muscles and pull yourself up until your chin is level with the bar. Imagine you're scaling a cliff in search of hidden treasure.</li>
               <li>Hold at the top for a moment, savoring the view (or catching a quick breath if you’re in the heat of the moment).
                Slowly lower yourself back down.</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"Oh man, I'm so tired of climbing $#%#”</p>

                <p id="quote">(Nathan Drake - Uncharted)</p>
            </div>
        </div>
        </div>

    </div>
</body>
</html>