<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chest</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <!-- nav bar -->
    <div class="nav">
        <img src="./assets/images/game_flex.png" alt="Game Flex Logo">
        <a href="/">Home</a>
        <a href="workouts">Workouts</a>
        <a href="nutrition">Nutrition</a>
        <a href="login">Login</a>
    </div>


    <div class="main">
        <h1 class="workout-header">CHEST</h1>
        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Zombie Press</div>
            <div class="workout-button"><img src="./assets/images/psX_button.png"></div>
            <div class="reps">3 sets of 8-12 reps</div>
            <div class="workout-images">
                <img src="assets/images/zombie-push.png">
                <img src="./assets/images/bench press.png">
            </div>
            <div class="workout-description">
                <ul>
                <li>Find a Zombie: Make sure your zombie is relatively lightweight and compliant, not too decayed to fall apart but not too lively to bite.</li>
                <li>Grasp the zombie around its ribcage, securing your hands just under its armpits. Ensure you have a firm grip to prevent slippage.</li>
                <li>Engage your chest, triceps, and shoulders to push the zombie upwards until your arms are fully extended. The zombie should move in a straight line up and down.</li>
                <li>Slowly lower the zombie back to the starting position, maintaining control. Your elbows should come down to about 90 degrees or slightly below, depending on comfort and flexibility.</li>
                <li>Having a spotter (preferably human) can be very helpful to ensure safety.</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"Sure, I’m Not Human Anymore, But Just Look At The Power I’ve Gained!”</p>
                <p>:</p>
                <p id="quote">(Resident Evil - Code: Veronica)</p>
            </div>
        </div>
        </div>

        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Chaos Blade flys</div>
            <div class="workout-button"><p><img src ="./assets/images/psSqr_button.png">,<img src ="./assets/images/psSqr_button.png">,<img src ="./assets/images/psSqr_button.png"></p></div>
            <div class="reps">3 sets of 10 reps</div>
            <div class="workout-images">
                <img src="assets/images/nemean_crush.png">
                <img src="./assets/images/chest_fly.png">
            </div>
            <div class="workout-description">
                <ul>
                <li>Pick up your Blades of Chaos and find a troll, cyclopes, or mythic god</li>
                <li>Stand in the center of the battle field with feet shoulder-width apart.</li>
                <li>lean your body slightly forward, extend your arms out to your sides, slightly bent at the elbows, holding the Chaos Blades at shoulder height. The chains should be taut.</li>
                <li>Swing the Chaos Blades in a powerful arc, slicing through your foe with precision.</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"I Am What The Gods Have Made Me!”</p>
                <p>:</p>
                <p id="quote">(God of War)</p>
            </div>
        </div>
        </div>

        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Yoga Lance</div>
            <div class="workout-button"><p><img src="./assets/images/images.png"> + <img src="./assets/images/psTri_button.png"></p></div>
            <div class="reps">4 Sets of 10</div>
            <div class="workout-images">
                <img src="./assets/images/yoga_lance.png">
                <img src="./assets/images/blog-inner-images.jpg">
            </div>
            <div class="workout-description">
                <ul>
                <li>Put on weighted braclets and/or the skulls of children from your village</li>
                <li>Channel your inner calm</li>
                <li>lean back 45 degrees and stretch your arms, your yoga elbows should be at a 45 degree angle to your body </li>
                <li>Find your flow, return the weights to original position with the utmost grace</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"The path to enlightenment stretches far beyond the reach of even these arms"</p>
                <p>:</p>
                <p id="quote">(Dhalsim - Street Fighter)</p>
            </div>
        </div>
        </div>
        <!-- <div class="workout-card">
            <div class="workout-title"></div>
            <div class="workout-button"></div>
            <div class="reps"></div>
            <div class="workout-images">
                <img src="">
                <img src="">
            </div>
            <div class="workout-description">
                <ul>
                <li></li>
                </ul>
            </div>
            <div class="workout-comment"><span id="quote"></span></p></div>
        </div> -->
    </div>
</body>
</html>