<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Fit | Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- nav bar -->
    <div class="nav">
        <img src="/assets/images/game_flex.png" alt="Game Flex Logo">

        <a href="workouts">Workouts</a>
        <a href="nutrition">Nutrition</a>
        <form action="/logout" method="post">
            <button type="submit" id="logout-btn" class="btn btn-moving-gradient btn-moving-gradient--blue">Logout</button>
    </div>


    <!-- hero section -->
    <div class="main">
        <div class="card">
            <div class="hero-text">
                <h1>Unleash Your Strength and Dominate the Game</h1>
                <p>Combine your passion for weight lifting with your love for gaming and level up your fitness journey.
                    Join our community and expierence the ultimate power-up.</p>
                    <a href="workouts"><p>START</p></a>
            </div>
            <img src="./assets/images/gamer_man.jpg" alt="gamer gym man">
        </div>

        <div class="card">
            <img src="./assets/images/girl-gym.jpg" alt="gamer gym girl">
            <div class="hero-text">
                <h1>Level up your fitness</h1>
                <p>Discover the power of fitness and gaming, improve your focus, enhance your reflexes, and join a
                    strong community of like-minded gamers.</p>
            </div>
        </div>


        <div class="card">
            <div class="hero-text">
                <h1>Start Your Fitness Journey Today</h1>
                <p>Join our community and start your fitness journey. Get access to exclusive workouts, nutrition plans,
                    and a community of like-minded gamers.</p>
            </div>
        </div>

        <div class="review-card">
            <div class="review-image">
                <img src="./assets/images/ryu_review.png" alt="gamer gym">
            </div>
            <div class="review-text">
                <p id="stars"> &#9733; &#9733; &#9733; &#9733; &#9733;</p>
                <p><em>
                    'Hadouken! This workout app packs a punch! From challenging lifts that prepare you for battle to intense routines that'll have you feeling like you're in the ring, it's got everything a warrior needs. The variety of exercises keeps your muscles guessing, just like facing a new opponent each round. Plus, the detailed tutorials ensure your form is as sharp as a Shoryuken. Whether you're a beginner or a seasoned street fighter, this app will level up your training regimen. Train hard, and you might just unleash your inner champion!'</em></p>
                <p>-Ryu</p>
            </div>
        </div>

        <footer>
        
                <p>&copy; 2024 Game Fit</p>
                <p>Created by Gabriel Wagner</p>

        </footer>
    </div>

</body>

</html>