<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legs</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- nav bar -->
    <div class="nav">
        <img src="/assets/images/game_flex.png" alt="Game Flex Logo">


        <a href="home">Home</a>
        <a href="workouts">Workouts</a>
        <a href="nutrition">Nutrition</a>
        <form action="/logout" method="post">
            <button type="submit" id="logout-btn" class="btn btn-moving-gradient btn-moving-gradient--blue">Logout</button>
    </div>

    <div class="main">
        <h1 class="workout-header">LEGS</h1>

        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Frogger Squats</div>
            <div class="workout-button"><img src="./assets/images/up_key.png"></div>
            <div class="reps">5 sets of 6-8 reps</div>
            <div class="workout-images">
                <img src="./assets/images/frogger.png">
                <img src="./assets/images/squat.png">
                
            </div>
            <div class="workout-description">
                <ul>
              <li>Stand tall on your lily pad</li>
              <li>Keep your webbed-feet shoulder-width apart, eyes forward looking at trucks</li>
              <li>Push your hips back and bend your knees, timing your jumps</li>
              <li>Press through your frog legs and stand back up</li>
              <li>Repeat the process, avoiding inevitable squashing</li>

                </ul>
            </div>
            <div class="workout-comment">
                <p>"Life is like a game of Frogger: sometimes you need to leap forward with confidence, and sometimes you need to patiently wait for the right moment to cross the road."</p>

                <p id="quote">Me... kinda (ChatGPT)</p>
            </div>
        </div>
        </div>

        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Bear Fling</div>
            <div class="workout-button"><img src="./assets/images/psSqr_button.png"><p>+</p><img src = "./assets/images/psTri_button.png"></div>
            <div class="reps">4 sets of 6-8</div>
            <div class="workout-images">
                <img src="./assets/videos/Untitled video.gif">
                <img src="./assets/images/barbell.gif">
            </div>
            <div class="workout-description">
                <ul>
                    <li>Ensure you're within range for a throw (Whiff punishes are embarassing)</li>
                    <li>Stand feet hip-width apart, claws pointing slightly outward</li>
                    <li>Wait for opponent to come within range, and pretend to grip a heavy barbell</li>
                    <li>Engage your back muscles and lift the barbell, launching opponent</li>
                    <li>Combo juggle, or simply return to starting position</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"Sorry, but human rules do not apply to bears."</p>

                <p id="quote">Kuma (Street Fighter X Tekken)</p>
            </div>
        </div>
        </div>

        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Sub-Zero Slide</div>
            <div class="workout-button"><img src="./assets/images/psLeft.png"><img src="./assets/images/psRight.png"><p>+</p><img src="./assets/images/psTri_button.png"></div>
            <div class="reps">4 sets of 6-8</div>
            <div class="workout-images">
                <img src="./assets/images/subzero.png">
                <img src="./assets/images/sideSquat.png">
            </div>
            <div class="workout-description">
                <ul>
                    <li>Stand tall with your ninja booties slightly wider than shoulder-width</li>
                    <li>Secrete ice from your feet and form an ice surface</li>
                    <li>Shift your weight on your less dominant leg and power slide kick using your strong kicking leg</li>
                    <li>Return to starting position and repeat on the other side (Or until opponent learns how to block low)</li>
                    <li>FINISH HIM!</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"A blizzard of pain approaches."</p>

                <p id="quote">Sub-Zero (Mortal Kombat)</p>
            </div>
        </div>
        </div>

        <div class="workout-card">
            <div class="workout-container">
            <div class="workout-title">Teabags</div>
            <div class="workout-button"><img src="./assets/images/xboxl3.png"></div>
            <div class="reps">4 sets of 6-8</div>
            <div class="workout-images">
                <img src="./assets/images/teabag.png">
                <img src="./assets/images/lunge.png">
            </div>
            <div class="workout-description">
                <ul>
                    <li>Approach of corpse of a recently killed enemy player</li>
                    <li>stand upright, one leg stepped forward, with a stable torso</li>
                    <li>Gently, and in an unsportsmanlike manner, lower your body until your "spartan undercarriage" makes contact with opponent's helmet</li>
                    <li>Return to starting position with an optional vocal insult to fallen player's skill and/or mother</li>
                    <li>Continue desecrating the dead remains until player respawns</li>
                </ul>
            </div>
            <div class="workout-comment">
                <p>"I thought we were friends, Chief."</p>

                <p id="quote"> Sergeant Johnson - Halo</p>
            </div>
        </div>
        </div>
        

        <h2><a href="#top">Return To Top</a></h2>
        </div>

    </body>
    </html>