<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <!-- nav bar -->
    <div class="nav">
        <img src="./assets/images/game_flex.png" alt="Game Flex Logo">
        <a href="/">Home</a>
        <a href="workouts">Workouts</a>
        <a href="nutrition">Nutrition</a>
        <form action="/logout" method="post">
            <button type="submit" id="logout-btn" class="btn btn-moving-gradient btn-moving-gradient--blue">Logout</button>
    </div>
    <div class="main">
        <div class="cook">
            <img src="./assets/images/link_cook.png" alt="food">
        </div>
        <h2>Coming Soon</h2>
    </div>
</body>
</html>