<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoulders</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" src="./assets/images/game_flex.png" type="image/icon type">
</head>
<body>
   
    <div class="nav">
        <img src="./assets/images/game_flex.png" alt="Game Flex Logo">
        <a href="/">Home</a>
        <a href="workouts">Workouts</a>
        <a href="nutrition">Nutrition</a>
        <form action="/logout" method="post">
            <button type="submit" id="logout-btn" class="btn btn-moving-gradient btn-moving-gradient--blue">Logout</button>
    </div>

    <div class="main">

    <div class="workout-card">
        <div class="workout-container">
        <div class="workout-title">1st Places</div>
        <div class="workout-button"><img src="./assets/images/switchzr.png"></div>
        <div class="reps">10 reps per circuit race (4)</div>
        <div class="workout-images">
            <img src="assets/images/mariokart.png">
            <img src="./assets/images/dbpress.png">
        </div>
        <div class="workout-description">
            <ul>
                <li>Pick your character and cart (Pro tip: pick Toad)</li>
                <li>Battle your way through gauntlet of shells, bombs, and banana peels</li>
                <li>Once you cross the finish line, inhale and press arms until they are fully extended overhead</li>
                <li>Bask in glory for a moment, and return arms to starting posistion</li>
                <li>Safety Warning: Blue shells before crossing finish line means the Nintendo gods hate you</li>
            </ul>
        </div>
        <div class="workout-comment">
            <p>"Wario always win!”</p>
            <p id="quote">Wario - Mario Kart</p>
        </div>
    </div>
    </div>

    <div class="workout-card">
        <div class="workout-container">
        <div class="workout-title">Double Barrels</div>
        <div class="workout-button"><img src="./assets/images/playstationR2.png"></div>
        <div class="reps">3 sets of 12-15 reps</div>
        <div class="workout-images">
            <img src="assets/images/tombraider.png">
            <img src="./assets/images/latraise.png">
        </div>
        <div class="workout-description">
            <ul>
                <li>Grab your iconic twin pistols and find an ancient abandoned temple in the middle of the Amazon rainforest</li>
                <li>Encounter vaious supernatural enemies</li>
                <li>Keep a slight bend in your knees and engage your core for stability</li>
                <li>Bring pistols parallel to the ground, empty the clips </li>
                <li>Gun spin flourish, with optional acrobatics, and repeat the exercise</li>
            </ul>
        </div>
        <div class="workout-comment">
            <p>"From this moment, every breath you take is a gift from me."</p>
            <p id="quote">Lara Croft - Tomb Raider</p>
        </div>
    </div>
</div>
<h2><a href="#top">Return To Top</a></h2>

</body>
</html>