<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- nav bar -->
    <div class="nav">
        <img src="./assets/images/game_flex.png" alt="Game Flex Logo">
        <a href="/">Home</a>
        <a href="workouts">Workouts</a>
        <a href="nutrition">Nutrition</a>
        <form action="/logout" method="post">
            <button type="submit" id="logout-btn" class="btn btn-moving-gradient btn-moving-gradient--blue">Logout</button>
    </div>
    <!-- Selector section -->
    
    
    <ul class="selection">
        <h1 class="selection-h1">Choose your Adventure</h1>
        <li><a href="chest">CHEST</a></li>
        <li><a href="arms">ARMS</a></li>
        <li><a href="back">BACK</a></li>
        <li class="shoulders"><a href="shoulders">SHOULDERS</a></li>
        <li><a href="legs">LEGS</a></li>
    </ul>

    
</body>
</html>