@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(9, 16, 19);
}

h2 a {
    font-size: 3em;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 100%;
    margin: 3px;
    text-align: center;
    cursor: pointer;
}

h2 {
    font-size: 3em;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 100%;
    margin: 3px;
    text-align: center;

}

.nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 3px solid black;
    align-items: center;
    background-color: blueviolet;
    flex-wrap: wrap
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 800;
    margin: 20px 30px;
    flex-shrink: 1;
}

.nav img {
    position: relative;
    left: 0px;
    height: 100px;
    width: 100px;
    margin: 0 30px;
    background-color:transparent
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;

  
}

.card {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 20px 50px 20px;
    padding: 20px;
    border: 3px solid blueviolet;
    box-shadow: 14px 14px 0 -4px blueviolet, 14px 14px 0 0 black;
    background-color: lightgreen;

}


.card img {
    max-width: 50%;
    max-height: 50%;
    object-fit:cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    max-height: 50%;
    justify-content: space-around;
    text-align: center;
    background-color: lightgreen;
    margin: 20px;
    
}

.hero-text h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    color: rgb(114, 29, 194);
}

.hero-text p {
    font-size: 3em;
}

/*Review Card*/

.review-card {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 20px 50px 20px;
    padding: 20px;
    border: 3px solid blueviolet;
    box-shadow: 14px 14px 0 -4px blueviolet, 14px 14px 0 0 black;
    background-color: lightgreen;
}

.review-image {
display: flex;
justify-content: center;
align-items: center;
height: 750%;
width: 70%;
margin: 40px 10px;
border-radius: 5px;
}

#stars {
    display: flex-block;
    flex-direction: row;
    justify-content: center;
    margin: 10px;

}

.review-text {
font-size: 2em;
margin: 10px;
}

footer {
    display: flex;
    align-items: space-between;
   
    gap: 800px;

}

footer p {
    font-size: 2em;
    background-color: blueviolet;
    padding: 5px 10px;
    border: 1px solid blue;
}


/* Button + effects*/

.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  } 
   
  .btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
  } 
   
  .btn-moving-gradient {
    height: 55px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
  } 
   
  .btn-moving-gradient:hover {
    transition: all 0.5s ease-in-out 0s;
    background-position: 100% 0px;
  } 
   
  .btn-moving-gradient--blue {
    background-image: linear-gradient(90deg, rgb(61, 135, 255), rgb(190, 61, 255), rgb(126, 61, 255), rgb(58, 134, 255));
    box-shadow: rgb(190, 61, 255) 0px 4px 15px 0px;
  }

/*Login*/

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

input[type="text"],
input[type="password"] {
    width: 300px;  /* Adjust the width as needed */
    height: 40px;  /* Adjust the height as needed */
    padding: 5px;  /* Optional: Add padding for better spacing inside the box */
    font-size: 16px; /* Optional: Increase font size for better readability */
    border-radius: 5px; /* Optional: Add rounded corners */
    border: 1px solid rgb(114, 29, 194); /* Optional: Border styling */
}
.form-group label{
    margin: 3px 5px;
}

.login h2 {
    font-size: 4em;
}

.login p {
    font-size: 2em;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}


.form-container {
    width: 60%;
    height: 60%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border: 5px solid blueviolet;
}


.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0em;
    margin: 30px
}

label {
align-items: center;
}

#name, #password  {
    font-size: 1em;
}

.form-container button {
    
    width: 60%;
    height: 60px;
    background-color: blueviolet;
    color: white;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

form {
    align-items: center;
}

/* Workout Selection screen */

.workout-header {
    color: rgb(21, 148, 252);
    white-space: nowrap;
    font-size: 6em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
      1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
      5px 13px 15px black;
  }


.selection {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection-h1 {
    font-size: 3em;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 100%;
    margin: 3px;
    text-align: center;

}

.selection li {
  
    margin: 20px 15px;
    list-style-type: none;
    font-size: 39px;
}

.selection li a {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: #333;
    border-radius: 50%;
    color: #666;
    transition: .5s;
    text-decoration: none;

}

.selection li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: lightgreen;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.selection li a:hover:before {
    transform: scale(1.1);
    box-shadow: 0 0 50px lightgreen;
}

.selection li a:hover {
    color: lightgreen;
    box-shadow: 0 0 40px lightgreen;
}

.shoulders a {
    font-size: 25px;
}

/* Workout Cards */
.workout-card {
    display: flex;
    flex-direction: column;
    align-items: center;;
    width: 70%;
    border: 3px solid rgb(89, 61, 116);
    background-color: lightgreen;
    margin: 20px;
    padding: 20px;
}

.workout-container {
    width: 70%;
    height: 40%;
    background-color: rgb(21, 148, 252);
    margin: 10px 20px;
    padding: 10px;
    border: 3px solid purple;
    border-radius: 3px;
    box-shadow: 14px 14px 0 -4px blueviolet, 14px 14px 0 0 black;
    border-radius: 3px;

}

.workout-button {

    width: 10;
    align-items: center;
    text-align: center;
}

.workout-button p {
    display: inline;
}

.workout-button p {
    font-size: 5em;
    color: black;
    background-color: transparent;

}

.workout-title {
    font-size: 3em;
    color: white;
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: center;

}



.workout-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 3px;
}

.workout-images img {
    height: 500px;
    width: 400px

}

.workout-button img {
    height: 50px;
    width: 50px;
    background-color: transparent;
    margin: 5px;
}

.workout-description {
    font-size: 1.5em;
    color: white;
    margin: 20px 30px;
    border-bottom: 4px solid white;
    width: 90%;
    padding: 10px;
}

.reps {
    font-size: 2em;
    text-align: center;
    margin: 10px;
}


#quote {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.workout-comment {
    display: flex;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    flex-wrap: wrap;
    padding-bottom: 1px;
    

}



#red {
    color: red;
}


  
@media (width <= 1250px) {
    .card, .review-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .review-card {
        margin: 0;
    }

    .workout-images img{
        width: 200px;
        height: 300px;
    
    }
  }








